<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-crash"
      version="1.4.1">

    <name>cordova-plugin-firebase-crash</name>
    <description>Cordova plugin for Firebase Crashlytics</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-crash</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-crash/issues</issue>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.1.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>

    <platform name="ios">
        <hook type="after_plugin_install" src="hooks/ios/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/ios/before_plugin_uninstall.js" />

        <framework src="Fabric" type="podspec" spec="~> 1.9.0"/>
        <framework src="Crashlytics" type="podspec" spec="~> 3.12.0"/>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_CORE_VERSION" default="16.0.+"/>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="${crashlyticsEnabled}" />
        </config-file>

        <dependency id="cordova-support-google-services" version="^1.2.0"/>

        <framework src="build.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.firebase:firebase-core:$FIREBASE_CORE_VERSION" />
    </platform>

</plugin>
