<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-crash"
      version="4.2.0">

    <name>cordova-plugin-firebase-crash</name>
    <description>Cordova plugin for Firebase Crashlytics</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-crash</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-crash/issues</issue>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=9.0.0"/>
        <engine name="cordova-ios" version=">=6.0.0"/>
    </engines>

    <dependency id="cordova-plugin-firebase-analytics" version="~6.1.0"/>

    <js-module src="www/FirebaseCrash.js" name="FirebaseCrash">
        <merges target="cordova.plugins.firebase.crashlytics" />
    </js-module>

    <preference name="FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" default="true" />

    <platform name="ios">
        <preference name="IOS_FIREBASE_POD_VERSION" default="~> 8.8.0"/>

        <hook type="after_plugin_install" src="hooks/ios/after_plugin_install.js" />
        <hook type="before_plugin_uninstall" src="hooks/ios/before_plugin_uninstall.js" />

        <config-file parent="/*" target="config.xml">
            <feature name="FirebaseCrash">
                <param name="ios-package" value="FirebaseCrashPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <!--
            use a bit hacky method to set boolean value as a string:
            https://developer.apple.com/documentation/foundation/nsstring/1409420-boolvalue?preferredLanguage=occ
        -->
        <config-file target="*-Info.plist" parent="FirebaseCrashlyticsCollectionEnabled">
            <string>$FIREBASE_CRASHLYTICS_COLLECTION_ENABLED</string>
        </config-file>

        <header-file src="src/ios/FirebaseCrashPlugin.h" />
        <source-file src="src/ios/FirebaseCrashPlugin.m" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="Firebase/Crashlytics" spec="$IOS_FIREBASE_POD_VERSION" />
            </pods>
        </podspec>
    </platform>

    <platform name="android">
        <preference name="ANDROID_FIREBASE_CRASHLYTICS_VERSION" default="18.2.+"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirebaseCrash">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseCrashPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
  		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="$FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" />
        </config-file>

        <source-file src="src/android/FirebaseCrashPlugin.java" target-dir="src/by/chemerisuk/cordova/firebase/" />

        <framework src="com.google.firebase:firebase-crashlytics:$ANDROID_FIREBASE_CRASHLYTICS_VERSION" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
